/* CSS Variables */
:root {
  --primary: #fff;
  --dark: #ec523f;
  --light: #fff;
  --text: #333;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
/* Global Styling */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  font-size: 18px;
  /* Remove the x-axis scroll bar */
  overflow-x: hidden;
}
body {
  background: #F7F7F7;
  line-height: 1.4;
}
.site {
  margin: 0 auto;
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
  grid-template-areas: 
  "company-name"
  "menu-section"
  "top-container"
  "sidebar"
  "cards"
  "about"
  "portfolio"
  "contact-info"
  "contact-form"
  "footer-content" 
  ;
}

/* Navigation */
.menu-section {
  padding: .5rem 0;
  margin: .5rem 0;
  grid-area: menu-section;
}
.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav li a {
  display: block;
  text-decoration: none;
  color: var(--text);
  padding: 1rem;
  background: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}
/* Button */
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
/* Company Name */
.company-name {
  background: var(--dark);
  box-shadow: var(--shadow);
  padding: 1rem;
  text-align: center;
  grid-area: company-name;
}
.company-name h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light);
}
.company-name p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--light);
}
/* Top Container */
.top-container {
  grid-area: top-container;
}
.sidebar {
  text-align: center;
  grid-area: sidebar;
}
/* Showcase */
.showcase {
  min-height: 400px;
  background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}
/* Top Box */
.top-box {
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem;
}
.top-box .price {
  font-size: 2.5rem;
}
/* Cards */
.cards {
  grid-area: cards;
}
.card:last-of-type {
  margin-bottom: 1rem;
}
.card {
  text-align: center;
  background: var(--primary);
  box-shadow: var(--shadow);
}
.card-content {
  padding: 1rem;
}
.card-content h3 {
  margin-top: -0.5rem;
}
.fas {
  padding-bottom: 0;
  padding-top: 1rem;
}
/* Flexbox Stuff */
@media screen and (min-width: 40rem) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .card {
    flex: 0 1 calc(50% - .5rem);
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 60rem) {
  .cards {
    margin-top: 1rem;
  }
  .card {
    flex: 0 1 calc(25% - .5rem);
  }
}
/* About */
.about {
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 3rem;
  grid-area: about;
}
/* Portfolio */
.portfolio {
  grid-area: portfolio;
}
.portfolio-items {
	/* margin: 1em; */
	padding: 0;
	list-style-type: none;
}
@media screen and (min-width: 40rem) {
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 60rem) {
  .portfolio-items {
    grid-template-columns: repeat(4, 1fr);
  }
  /* Span two rows & columns rule */
  .double {
    grid-column: span 2;
    grid-row: span 2;
  }
}
/* Contact */
.contact-info {
  grid-area: contact-info;
}
.contact-info, .contact-form {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
/* FORM STYLES */
.contact-form {
  grid-area: contact-form;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
}
.contact-form form .full {

}
.contact-form form button, .contact-form form input, .contact-form form textarea {
  padding: 1em 0 1em .5em;
  color: var(--text);
  border: 1px solid var(--dark);
}
.contact-form form button {
  background: var(--dark);
  border: 0;
  color: var(--light);
  text-transform: uppercase;
}
.contact-form form button:hover, .contact-form form button:focus {
  background: var(--dark);
  color: var(--text);
  outline: 0;
  transition: background-color 2s ease-out;
}
/* Footer */
.footer-content {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
  grid-area: footer-content;
}
/* Screens bigger than 540px */
@media screen and (min-width: 40rem) {
  .main-nav ul {
    display: flex;
    flex-wrap: wrap;
    /* Adjust to equal space */
    justify-content: space-between;
  }
  .main-nav li {
    /* Grow to fill space, don't shrink instead wrap */
    flex: 1 0 auto;
    text-align: center;
  }
}
/* Screens bigger than 1080px */
@media screen and (min-width: 60rem) {
  /* Split the about content into two */
  .about-content {
    columns: 2;
    column-gap: 2rem;
  }
}

/* CSS Grid */
@supports (grid-area: auto) {
  @media screen and (min-width: 40rem) {
    .site {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "company-name company-name"
        "menu-section menu-section"
        "top-container sidebar"
        "cards cards"
        "about about"
        "portfolio portfolio"
        "contact-info contact-form"
        "footer-content footer-content";
    }
  }
  @media screen and (min-width: 60rem) {
    .site {
      max-width: 1280px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
        "company-name company-name company-name company-name"
        "menu-section menu-section menu-section menu-section"
        "top-container top-container top-container top-container"
        "cards cards cards cards"
        "about about about sidebar"
        "portfolio portfolio portfolio portfolio"
        "contact-info contact-info contact-form contact-form"
        "footer-content footer-content footer-content footer-content";
    }
  }
}