/* CSS Variables */
:root {
  --primary: #fff;
  --dark: #ec523f;
  --light: #fff;
  --text: #333;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
/* Global Styling */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  font-size: 18px;
}
body {
  background: #F7F7F7;
  margin: 2em 1.5em;
  line-height: 1.4;
}
ul {
  list-style: none;
  padding: 0;
}
.site {
  max-width: 1280px;
  margin: 0 auto;
}
/* Navigation */
.menu-section {
  padding: .5rem 0;
  margin: .5rem 0;
}
.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav li a {
  display: block;
  text-decoration: none;
  color: var(--text);
  padding: 0.8rem;
  background: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}
/* Button */
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
/* Images */
img {
  max-width: 100%;
}
/* Company Name */
.company-name {
  background: var(--dark);
  box-shadow: var(--shadow);
  padding: 1rem;
  text-align: center;
}
.company-name h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light);
}
.company-name p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--light);
}
/* Top Container */

.top-container {

}
.sidebar {
  text-align: center;
}
/* Showcase */

.showcase {

  min-height: 400px;
  background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}
/* Top Box */

.top-box {
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem;
}
.top-box .price {
  font-size: 2.5rem;
}
/* Cards */

.cards {

}
.card {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
/* About */

.about {
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 3rem;
}
/* Portfolio */

.portfolio {
}
.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}
/* contact-box */

.contact-box {

}
.contact-info {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
/* FORM STYLES */

.contact-info form label {
  display: block;
}
.contact-info form p {
  margin: 0;
}
.contact-info form .full {

}
.contact-info form button, .contact-info form input, .contact-info form textarea {
  width: 100%;
  padding: 1em 0 1em .5em;
  color: var(--text);
  border: 1px solid var(--dark);
}
.contact-info form button {
  background: var(--dark);
  border: 0;
  color: var(--light);
  text-transform: uppercase;
}
.contact-info form button:hover, .contact-info form button:focus {
  background: var(--dark);
  color: var(--text);
  outline: 0;
  transition: background-color 2s ease-out;
}
/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 30em) {
  .main-nav ul {
    display: flex;
    flex-wrap: wrap;
    /* Adjust to equal space */
    justify-content: space-between;
  }
  .main-nav li {
    flex: 1 0 auto;
    text-align: center;
  }
}