/* CSS Variables */

:root {
  --primary: #fff;
  --dark: #ec523f;
  --light: #fff;
  --text: #333;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  font-size: 16px;
}
body {
  background: #F7F7F7;
  margin: 2em 1.5em;
  line-height: 1.4;
}
ul {
  list-style: none;
  padding: 0;
}
.top-banner {
  top: 0;
  width: 100%;
  left: 0;
  margin: 0;
  font-size: .8em;
  text-align: center;
  display: block;
  color: var(--dark);
  background: var(--light);
  position: fixed;
}
/* Navigation */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
img {
  max-width: 100%;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* Company Name */

.company-name {
  grid-gap: 20px;
  background: var(--dark);
  box-shadow: var(--shadow);
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: start;
  text-align: center;
}
.company-name h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light);
}
.company-name p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--light);
}
/* Top Container */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  'showcase showcase top-box-a' 
  'showcase showcase top-box-b';
}
/* Showcase */

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}
/* Top Box */

.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}
.top-box .price {
  font-size: 2.5rem;
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
  padding: 1.5rem;
}
/* Boxes */

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
/* Info */

.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
/* Portfolio */

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}
/* contact-Boxes */

.contact-boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.contact-box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
/* FORM STYLES */

.contact form label {
  display: block;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1 / 3;
}
.contact form button, .contact form input, .contact form textarea {
  width: 100%;
  padding: 1em 0 1em .5em;
  color: var(--text);
  border: 1px solid var(--dark);
}
.contact form button {
  background: var(--dark);
  border: 0;
  color: var(--light);
  text-transform: uppercase;
}
.contact form button:hover, .contact form button:focus {
  background: var(--dark);
  color: var(--text);
  outline: 0;
  transition: background-color 2s ease-out;
}
.side-phone {
  bottom: 8%;
  left: auto;
  right: 2%;
  width: 50px;
  font-size: .8em;
  color: var(--dark);
  position: fixed;
}
.side-phone a {
  color: inherit;
}
/* Footer */

footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}
/* Media Queries */

@media (max-width: 700px) {
  .top-container {
    grid-template-areas: 
    'showcase showcase' 
    'top-box-a top-box-b';
  }
  .showcase h1 {
    font-size: 2.5rem;
  }
  .main-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
  .contact-boxes {
    grid-template-columns: 1fr;
    grid-template-areas:
    'contact-box-b'
    'contact-box-a';
  }
  .contact-box-a {
    grid-area: contact-box-a;
  }
  .contact-box-b {
    grid-area: contact-box-b;
  }
}
@media (max-width: 500px) {
  .top-container {
    grid-template-areas: 
    'showcase'
    'top-box-a'
    'top-box-b';
  }
}
